*{
    color:#333;
}
body {
    height: 100vh;
}
header{
    width: 100%; height: 80px; 
    background: url(../img/bg-logo.png) no-repeat left top;
}
header .header-logo{
    width: 333px;
}

header .header-main{
    width: 100%;
    padding: 0 35px;
}

header .header-logo img{
    width: 310px; height: 30px; 
    padding-left: 25px;
}

header .header-notice{
    width: 280px;
}

header .header-notice img{
    width: 60px; height: 22px; 
}

header .header-use{
    line-height: 40px;
    font-size: 14px;
}
header .header-use-top{
    cursor: pointer;
}
header .header-use-logOut span{
    color:#999;
}
header .header-use-logOut img{
    width: 14px; height: 14px;
    margin: 0 5px;
}

header .header-use-bottom > span,header .header-use-top > span {
    padding: 0 8px;
}
header .header-use-bottom > span{
    position: relative;
}
header .header-use-bottom > span:first-child::before{
    position: absolute;
    content:'';
    width: 1px; height: 10px;
    right: -1px;
    top: 4px;
    background-color:#c6c6c6;
}


.nav-main .nav-main-ul {
    background-color:#497fc1;
    height: 40px;
}

.nav-main .nav-main-ul li{
    height: 40px;
    line-height: 40px;
}

.nav-main .nav-main-ul li a{
    color:#fff;
}

.nav-main .nav-main-ul li.layui-this{
    border:none;
    background-color: #35659e;
}
.nav-main .nav-main-ul .layui-nav-bar{
    display: none;
}
.nav-main .nav-main-ul li.layui-this:after{
    background-color: transparent;
}


.container{
    height:calc(100vh - 120px);
}
.main{
    padding:20px 40px;
    background: #f3f3f3;
    height:calc(100vh - 160px);
    width:100%;
    overflow-x: hidden;
}
.nav-left .nav-left-ul {
    width: 210px; height:calc(100vh - 120px);
    padding-top: 20px;
    background-color:#d7dfe8;
}
.nav-left .nav-left-ul li,.nav-left .nav-left-ul li a{
    height: 42px;
    line-height: 42px;
}
.nav-left .nav-left-ul li a{
    position: relative;
    color:#333;
    margin: 0 20px;
    padding: 0;
    padding-left:10px;
    border-bottom: 2px solid #ebeff4;
}
.nav-left .nav-left-ul li a::before{
    position: absolute;
    content:'';
    width: 4px; height: 4px;
    background: #adbed5;
    left:0;
    top:20px;
}
.nav-left .nav-left-ul li.layui-this a::before,.nav-left .nav-left-ul li:hover a::before{
    position: absolute;
    content:'';
    width: 0; height: 0;
    border-top: 4px solid transparent;
    border-left: 6px solid #285386;
    border-bottom: 4px solid transparent;
    left:0;
    top:18px;
}

.nav-left .nav-left-ul li.layui-this{
    background: #adbed5;
}
.nav-left .nav-left-ul li.layui-this a{
    background: transparent;    
    border-bottom-color:transparent;   
}
.nav-left .nav-left-ul li:hover{
    background: #adbed5;        
}
.nav-left .nav-left-ul li a:hover{
    color:#333;
    background: transparent;
}

.nav-left .nav-left-ul li a span{
    padding: 0 5px;
}

.nav-left .nav-left-ul .layui-nav-bar{
    display: none;
}

.main .table-title{
    font-size: 24px;
    padding-bottom: 15px;
}

.main .table-search{
    padding: 10px 0;
    background: #fff;

}

.table-action .layui-form-item{
    margin:10px 0;
}
.table-action .layui-form-item .layui-inline{
    margin: 0;
}
.table-action .layui-form-item .layui-form-label{
    padding: 0;
    line-height: 26px;
}
.table-action .layui-form-item .layui-input,.table-action .layui-form-item .layui-form-select{
    width:150px; height: 26px;
    border-color:#dcdbdc;
}
.table-action .layui-form-item .layui-input-inline{
    width:150px; height: 26px;
}

.table-action .layui-form-item .layui-input-inline,.table-action .layui-form-item .layui-form-select{
    margin-right: 10px;
}

.table-action .table-search-right{
    width: 190px;
}
.table-action .table-search-right .table-search-button{
    width: 90px; height: 32px;
    line-height: 32px;
    margin-left: 20px;
}
.table-action .table-others{
    padding-top: 10px;
}

.table-action .table-others-right>div:first-child{
    margin-right: 10px;
}

.table-action .table-method button{
    font-size: 14px;
    color:#497fc1;
    border-color:#497fc1;
}



.main .layui-laypage-skin{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.main .layui-laypage-skin .layui-laypage-curr .layui-laypage-em{
    background-color: #adbed5;
}



.main .layui-table-tool,
.main .layui-table-patch,
.main .layui-table-mend,
.main .layui-table[lay-even] tr:nth-child(even),
.main .layui-table tbody tr:hover,
.main .layui-table-hover,
.main .layui-table-click{background-color: #e4f3fd;}


.main .layui-table thead tr,
.main .layui-table-header{background-color: #d7dfe8;}