*{
    color:#333;
}
body {
    height: 100vh;
    overflow: hidden;
}
header{
    width: 100%; height: 80px; 
    background: url(../img/bg-logo.png) no-repeat left top;
}
header .header-logo{
    width: 333px;
}

header .header-main{
    width: 100%;
    padding: 0 35px;
}

header .header-logo img{
    width: 310px; height: 30px; 
    padding-left: 25px;
}

header .header-notice{
    width: 280px;
}

header .header-notice img{
    width: 60px; height: 22px; 
}

header .header-use{
    line-height: 40px;
    font-size: 14px;
}
header .header-use-top{
    cursor: pointer;
}
header .header-use-logOut span{
    color:#999;
}
header .header-use-logOut img{
    width: 14px; height: 14px;
    margin: 0 5px;
}

header .header-use-bottom > span,header .header-use-top > span {
    padding: 0 8px;
}
header .header-use-bottom > span{
    position: relative;
}
header .header-use-bottom > span:first-child::before{
    position: absolute;
    content:'';
    width: 1px; height: 10px;
    right: -1px;
    top: 4px;
    background-color:#c6c6c6;
}


.nav-main .nav-main-ul {
    background-color:#497fc1;
    height: 40px;
}

.nav-main .nav-main-ul li{
    height: 40px;
    line-height: 40px;
}

.nav-main .nav-main-ul li a{
    color:#fff;
}

.nav-main .nav-main-ul li.layui-this{
    border:none;
    background-color: #35659e;
}
.nav-main .nav-main-ul .layui-nav-bar{
    display: none;
}
.nav-main .nav-main-ul li.layui-this:after{
    background-color: transparent;
}


.container{
    height:calc(100vh - 120px);
}

.container iframe{
   width: 100%; height:100%;
   border: none;
}

.nav-left .nav-left-ul {
    width: 210px; height:calc(100vh - 120px);
    padding-top: 20px;
    background-color:#d7dfe8;
}
.nav-left .nav-left-ul li,.nav-left .nav-left-ul li a{
    height: 42px;
    line-height: 42px;
}
.nav-left .nav-left-ul li a{
    position: relative;
    color:#333;
    margin: 0 20px;
    padding: 0;
    padding-left:10px;
    border-bottom: 2px solid #ebeff4;
}
.nav-left .nav-left-ul li a::before{
    position: absolute;
    content:'';
    width: 4px; height: 4px;
    background: #adbed5;
    left:0;
    top:20px;
}
.nav-left .nav-left-ul li.layui-this a::before,.nav-left .nav-left-ul li:hover a::before{
    position: absolute;
    content:'';
    width: 0; height: 0;
    border-top: 4px solid transparent;
    border-left: 6px solid #285386;
    border-bottom: 4px solid transparent;
    left:0;
    top:18px;
}

.nav-left .nav-left-ul li.layui-this{
    background: #adbed5;
}
.nav-left .nav-left-ul li.layui-this a{
    background: transparent;    
    border-bottom-color:transparent;   
}
.nav-left .nav-left-ul li:hover{
    background: #adbed5;        
}
.nav-left .nav-left-ul li a:hover{
    color:#333;
    background: transparent;
}

.nav-left .nav-left-ul li a span{
    padding: 0 5px;
}

.nav-left .nav-left-ul .layui-nav-bar{
    display: none;
}


/* 弹出层 */
.phoneTips{
    /* margin-top: 60px!important; */
 
    margin-left: -20px!important;
    border-radius: 6px!important;
}

#layui-layer1.phoneTips{
    top:80px!important;
}
#layui-layer2.phoneTips{
    top:330px!important;
}

.phoneTips .layui-layer-title{
    height: 65px;
    background-color: #fff;
    border-radius: 6px 6px 0 0;
}
.phoneTips .phoneTips-header {
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.phoneTips .phoneTips-title{
    font-size: 14px;
    color:#000;
}


.phoneTips .phoneTips-title span{
    font-size:24px;    
    color:#d54f26;
}
.phoneTips .phoneTips-icon{
    position: absolute;
    width: 82px;
    height: 82px;
    top:0;
    left:50%;
    transform: translate(-50%,-50%)
}

.phoneTips.layui-layer-page .layui-layer-content{
    overflow: hidden;
}

.phoneTips .phoneTips-content{
    overflow: hidden;
    padding:15px 20px;
    padding-bottom: 10px;
}

.phoneTips .phoneTips-content .phoneTips-items{
    line-height: 2;
}


