<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" href="../images/favicon.ico"/>
    <link rel="bookmark" href="../images/favicon.ico"/>
    <!--<link href="public/admin/css/test.css" rel="stylesheet" />-->
    <link href="../stylesheets/font-awesome.css" rel="stylesheet" />
    <link href="../stylesheets/flex.css" rel="stylesheet" />
</head>

<body>
    <button>test</button>
    <div class="flex-hl-vc">
        <i class="fa fa-cog fa-spin"></i>
        <span>are you kidding me?</span>

    </div>
    <script src="../javascripts/jquery.min.js"></script>
    <script>
        $("button").click(function () {
            var data = {};
            data.状态 = "1";
            data = JSON.stringify(data);
            console.log(data)
            $.ajax({
                type: "POST",
                url: "/swim",
                data: 'data=' + data,
                success: function (p) {
                    console.log(p)
                    $("span").html(p.数据[2].id);
                }

            })
        })
    </script>
</body>

</html>