
.childrenBody{
  margin: 10px 10px 0;
  background-color: #f0f0f0;
}

section{
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 0 15px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
  background-color: #ffffff;
}

section:first-child{
  margin-top: 0px;
}

.layui-select-title{
  width:150px;
}

.layui-field-title{
  margin-bottom: 5px;
}

.layui-elem-quote{
  background-color: #fff;
}

.layui-quote-nm{
  background-color: #fff;
}

/* .layui-layer-diy[type=page].w16 {
	width: 6.4rem;
	border-radius: .15rem;
}

.layui-layer-diy[type=page].w12 {
	min-width: 4.8rem;
	border-radius: .15rem;
}

.layui-layer-diy[type=page].w14 {
	min-width: 5.6rem;
	border-radius: .15rem;
}

.layui-layer-diy[type=page].w51 {
	width: 5.1rem;
	border-radius: .15rem;
} */
/* #editor h1,#editor h2,#editor h3{} */

::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background-color: #535353;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


.layui-tab-title li .layui-tab-close {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-left: 15px;
  top: 1px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  transition: all .2s;
  -webkit-transition: all .2s;
  background-color: #999;
  border-radius: 50%;
  padding: .5px;
}

.layui-tab-title li .layui-tab-close:hover {
  background-color: #393D49;
  color: #fff;
}

.layui-btn-mini{
  padding: 0 5px;
  font-size: 12px;
}


.layui-inline{
  margin: 5px 5px 5px 0;
}

.layui-table-tips-c{
  cursor: zoom-out;
}

/* 底部显示与否 */
.layui-layout-admin .layui-body{
  bottom:0;
}
.layui-footer{
  display: none;
}

/* 按钮样式 */
.layui-btn-mini{
  height: 24px;
  line-height:24px;
}

/* 表格样式 */
.layui-table-header tr th span{
  font-weight: bolder;
}

/* 表单样式 */
.layui-input, .layui-textarea, .layui-select{
  height: 32px;
  line-height: 32px;
}
.layui-input.required{
  border-left:3px solid #2B9CED;
}

.layui-btn-mini i{
  font-size: 15px!important;
}

.layui-form-radio i{
  font-size:18px!important;
}


/* 弹窗样式 */
.layui-layer-diy[type="page"].w520 {
  width: 850px !important;
  border-radius: 2px;
}
.layui-layer-title {
  font-size: 16px!important;
}
.layui-layer-content .layui-form.form-insert-update {
  padding: 20px 30px;
}

.layui-layer-content .form-insert-update .layui-form-label {
  width: 130px;
  padding: 0;
  padding-right:10px;
  line-height: 30px;
}

.layui-layer-content .form-insert-update .layui-input-block {
  margin-left: 140px;
}

.layui-layer-content .form-insert-update .layui-btn {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

/* 无数据提示样式 */
.no-data{
  width:150px;
  height: 150px;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top:55%;
}

/* 锁屏样式 */
.now-time{
  position:absolute;
  left:50%;
  top:20%;
  transform:translate(-50%,-50%);
  font-size:60px;
  color:#fff;
}

.lock-layer{
  opacity: .7;
}

.bg-lock{
  width:100%;
  height: 100%;
}

.admin-header-lock .input_btn{
  display: flex;
  align-items: center;
}


.zwlAppend{
  margin: 5px 0;
  margin-left: 10px;
}
.show-block{
  margin: 10px 0;  
  margin-left: 140px;
  display: flex;
  flex-wrap: wrap;
}
.show-pic{
  position: relative;
  margin: 4px;
  
}
.show-pic-main{
  width:120px;
  height: 120px;
  border-radius: 4px;
  border:none;

}
.show-pic:nth-child(6n),.show-pic:first-child{
  margin-left:0px;
}

.show-pic-close{
  color:#2b9ced;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.power-title{
  line-height: 30px;
  font-weight: bolder;
  margin: 3px 0;
}
.power-row-1,.power-row-2{
  padding: 0 5px;
  margin-right: 10px;
  height: 25px;
  line-height: 23px;  
  border: 1px dashed #999;
  display: inline-block;
  box-sizing: border-box;
}

.power-main .layui-form-checkbox{
  height: 26px;
  line-height: 24px;
  margin-top: 0px!important;
}

.power-main .layui-form-radio{
  margin-top: 0px!important;
}

.layui-form-radio{
  height: 30px;
  line-height: 30px;
  margin-top: 0px;
}

/* .layui-table[lay-even] tr:nth-child(even){
  background-color: #f0f0f0!important;
} */