* {
	padding: 0px;
	margin: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #666;
	font-size: 14px;
}

body {
	background: #eeeeee;
}

a {
	color: #17a3d7;
	text-decoration: none;
}

a:hover,
a:visited,
a:checked {
	color: #1488b3;
}

input,
select,
button {
	outline: none;
}

ul li {
	list-style: none;
	display: inline-block;
}
/*input::-moz-focus-inner{ border: 5px solid #34538b;padding:0 !important; line-height: normal !important;}*/ 

.minwidth {
	width: 1180px;
	margin: auto;
	overflow: hidden;
}

.fl {
	float: left
}

.fr {
	float: right;
}

table img {
	vertical-align: middle;
}

.pro_img {
	width: 160px;
	height: 160px;
	border: 1px solid #ddd;
}

.border {
	border: 1px solid #dddddd;
}

.border-right {
	border-right: 1px solid #dddddd;
}

.border-left {
	border-left: 1px solid #dddddd;
}

.clearfix {
	clear: both;
}

.inline-block {
	display: inline-block;
}

.vertical-middle {
	vertical-align: middle;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.colorblue {
	color: #17a3d7;
}

.bgblue {
	background: #17a3d7 !important;
	color: #fff !important;
	border-color: #17a3d7 !important;
}

.border-radius {
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.none {
	display: none;
}

.red {
	color: #ff5453;
}

.error {
	color: #ec2222;
}

.text-underline {
	text-decoration: underline;
}
.text-underline-hover:hover{text-decoration: underline;}
.hidden {
	visibility: hidden;
}

.over-hidden {
	overflow: hidden;
}

.vertival-line {
	width: 1px;
	background: #ddd;
	position: absolute;
	left: 200px;
	top: 6px;
	bottom: 0px;
}

.clear {
	position: absolute;
	top: 0px;
	z-index: -1;
	height: 100%;
	width: 100%;
	height: -moz-calc(100% - (110px));
	height: -webkit-calc(100% - (110px));
	height: calc(100% - (110px));
}

.largeFont {
	font-size: 18px;
}

.search-input-button.nomargin {
	margin: 0px;
}

.border-red {
	border: 1px solid #ec2222 !important;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*头部导航*/

.header {
	height: 60px;
}

.header .headernav {
	width: 1180px;
	margin: auto;
	height: 60px;
}

.header .headernav>table {
	width: 100%;
}

.line {
	height: 6px;
	background: #1488b3;
}

.line .prevline {
	width: 24.896%;
	height: 6px;
	background: #17a3d7;
}

.logo {
	float: left;
	width: 145px;
}

.nav {
	padding-left: 60px;
	height: 57px;
	line-height: 54px;
}

.nav li {
	text-align: center;
	list-style: none;
	float: left;
	color: #17a3d7;
	font-size: 16px;
	position: relative;
	padding: 0 20px;
	cursor: pointer
}

.nav li p {
	color: inherit;
	font-size: 16px;
}

.nav li.nopen,
.nav li.nopen>a {
	cursor: default;
}

.nav li .line {
	position: absolute;
	z-index: 2;
	top: 0px;
	width: 0;
	background: #17a3d7;
	height: 2px;
}

.header {
	background: #fff;
	min-width: 1180px;
}

.header .nav .children {
	display: none;
	line-height: 30px;
	color: #666;
	position: absolute;
	top: 54px;
	z-index: 4;
	border: 1px solid #dddddd;
	width: 100%;
	left: 0;
	background: #fff;
}

.header .nav .children>div {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

.header .nav li.active {
	background: #17a3d7;
}

.header .nav li.active p {
	color: #fff;
}

.header .nav li:hover .children {
	display: block;
}

.header .nav li:hover,
.header .nav li:hover>p {
	background: #ddd;
	color: #666;
}

.header .nav li:hover .children>div:hover,
.header .nav li:hover .children>div:hover>a {
	background: #17a3d7;
	color: #fff;
}

.header .nav li.nopen:hover,
.header .nav li.nopen:hover>a {
	background: transparent;
	color: #a7a7a7;
}

.header .nav li .arrow {
	vertical-align: -5px;
	border-top-color: #17a3d7;
}

.header .nav li:hover .arrow {
	border-top-color: #666;
}

.header .touxiang {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.headerTable {
	font-size: 12px;
	float: right;
}

.headerTable a {
	color: #666;
}

.footer {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
	background: #333333;
}

.footercontainer {
	width: 420px;
	margin: auto;
	padding: 10px 0;
}

.footercontainer li {
	margin: 0 10px;
}

.footer a,
.footer div {
	color: #fff;
}


/*侧边栏*/

.leftmenu {
	width: 200px;
	float: left;
	cursor: pointer;
}

.leftmenu ul li {
	width: 100%;
	height: 60px;
	color: #666;
	text-align: left;
	line-height: 60px;
}

.leftmenu ul li>div {
	width: 100px;
	margin: auto;
}


/*内容*/

.page-wrapper {
	background: #fff;
	margin-top: 20px;
	position: relative;
}

.page-wrapper>.line {
	position: absolute;
	top: 0px;
	width: 100%;
}

.page-content {
	width: 978px;
	float: left;
}

.page-container {
	padding: 0 40px;
}


/*TAB选项卡*/

.tablist {
	color: #666;
	border-bottom: 1px solid #e5e5e5;
	height: 60px;
	position: relative;
}

.tablist>ul {
	position: absolute;
	bottom: -2px;
}

.tablist .tabItem {
	float: left;
	display: inline-block;
	margin-left: 40px;
	cursor: pointer;
}

.tablist .tabItem>a {
	color: #666;
}

.tablist .tabItem>a:hover {
	border-bottom: 3px solid #666;
}

.tablist .tabItem.active {
	border-bottom: 3px solid #26a9da;
	color: #26a9da;
}

.tablist .tabItem.active a {
	color: #17a3d7;
	border-bottom: 3px solid #26a9da;
}


/*ICON*/

i.icon {
	background: url(../images/iconlist.png) no-repeat;
	width: 20px;
	height: 60px;
	margin-top: -3px;
	display: inline-block;
	vertical-align: middle;
	background-position: -121px 1px;
}
i.icon.icon_detail2{background-position:-296px -118px;}
.hover i.icon.icon_detail2{background-position:-456px  -118px;}
.hover:hover i.icon.icon_detail2{background-position:-536px -118px;}

i.icon.icon_bh{background-position:-300px -159.5px;}
.hover i.icon.icon_bh{background-position:-460px -159.5px;}
.hover:hover i.icon.icon_bh{background-position:-540px -159.5px;}

i.icon.icon_jd{background-position:-299px -197.5px;}
.hover i.icon.icon_jd{background-position:-459px -197.5px;}
.hover:hover i.icon.icon_jd{background-position:-539px -197.5px;}

i.icon.icon_tijiao{background-position:-298px -238.5px;}
.hover i.icon.icon_tijiao{background-position:-458px -238.5px;}
.hover:hover i.icon.icon_tijiao{background-position:-538px -238.5px;}

i.icon.icon_daoru{background-position:-296px -278px;}
.hover i.icon.icon_daoru{background-position:-457px -279px;}
.hover:hover i.icon.icon_daoru{background-position:-537px -279px;}


i.icon.icon_edit { background-position:-178px -18px; }
.hover i.icon.icon_edit { background-position: -79px -17px; }
.hover:hover i.icon.icon_edit { background-position: -539px 3px; }

i.icon.icon_delete { background-position: -177px  -59px; }
.hover i.icon.icon_delete { background-position: -80px -58px; }
.hover:hover i.icon.icon_delete { background-position: -539px -38px; }

i.icon.icon_addPlan { background-position: -179px  -100px; }
.hover i.icon.icon_addPlan { background-position: -79px -100px; }
.hover:hover i.icon.icon_addPlan { background-position: -539px -80px; }

i.icon.icon_check.blue {background-position: -78px -459px;}
.hover i.icon.icon_check {  background-position: -78px -459px;}
.hover:hover i.icon.icon_check { background-position:-499px -259px; }

i.icon.icon_theme.blue { background-position: -76px -317px; }
.hover i.icon.icon_theme {background-position: -76px -317px; }
.hover:hover i.icon.icon_theme { background-position: -497px -117px; }

i.icon.icon_log.blue { background-position: -461px -405.5px; }
.hover i.icon.icon_log {background-position: -461px -405.5px; }
.hover:hover i.icon.icon_log { background-position: -540px -405.5px; }

i.icon.icon_enable.blue { background-position: -461px -448.5px; }
.hover i.icon.icon_enable {background-position: -461px -448.5px; }
.hover:hover i.icon.icon_enable { background-position: -540px -448.5px; }

/*i.icon.icon_stopuse.blue { background-position: -80px -198px; }*/
.hover i.icon.icon_stopuse {  background-position: -80px -198px;}
.hover:hover i.icon.icon_stopuse { background-position: -501px 2px; }

i.icon.icon_activity.blue { background-position: -80px -258px; }
.hover i.icon.icon_activity {  background-position: -80px -258px;}
.hover:hover i.icon.icon_activity { background-position:-501px -58px; }

i.icon.icon_edit.white{background-position: -220px -18px;height: 20px;}
i.icon.icon_delete.white{background-position: -220px -59px;height: 20px;}
i.icon.icon_choose.white{background-position: -380px -177.5px;}
i.icon.icon_gift {
    background-position:-300px -360px;
}
i.icon.icon_detail {
   background-position:-300px -320px;
}
.hover:hover i.icon.icon_gift{
    background-position:-460px -360px;
}
.hover:hover i.icon.icon_detail{
   background-position:-460px -320px;
}
.hover,.hover span{color:#17A3D7;}
.hover:hover,.hover:hover span{
	color:#1488b3;
}
i.icon.icon_manage {
	background-position: -119px -60px;
}

i.icon.icon_plan {
	background-position: -119px -120.5px;
}
i.icon.icon_qr{width:25px;background-position:-299px 21px;}
li.active i.icon.icon_qr{background-position:-380px 21px;}
i.icon.icon_users{background-position: -218.5px -417.5px;}
.active i.icon.icon_users{background-position:-297.5px -418.5px;}
i.icon.icon_puhuo { background-position: -120px -180px; }
i.icon.icon_shengmaPlan{background-position:-257px 21.5px;}
.active i.icon.icon_shengmaPlan{background-position: -336.5px 21.5px;}

i.icon.icon_yunying {
	background-position: -120.5px -240px;
}

i.icon.icon_data {
	background-position: -121px -300.5px;
}

i.icon.icon_error {
	background-position: -120.5px -359.5px;
}

i.icon.icon_error_red {
	height: 28px;
	background-position: -220px -274px;
	margin-left: 14px;
}

i.icon.icon_message {
	background-position: -120.5px -437px;
}

i.icon.icon_setting {
	background-position: -119px -501px;
}

i.icon.icon_notice {
	background-position: -180px -237px;
	position: relative;
}

i.icon.icon_email { background-position: -180px -475px; position: relative; }
.active i.icon.icon_email{background-position:-339px -496px;}

i.icon.notice_number {
	position: absolute;
	background-position: -180px -278px;
	top: 2px;
	left: 8px;
}

i.icon.icon_add.blue { height: 30px; background-position: -219px -131px; }
i.icon.icon_add{  height: 30px;background-position: -78px -131px }
i.icon.icon_group {
	height: 30px;
	background-position: -179px -352px;
}

i.icon.icon_log{background-position: -259.5px -140px;}
i.icon.icon_template{background-position: -258px -178px;}
i.icon.icon_yunyingdata{background-position: -259px -219.5px;}
i.icon.icon_diaodu{background-position:-258px -259px;}
i.icon.icon_company{background-position: -259.5px -300px;}
i.icon.icon_role{background-position:-258px -59.5px;}
i.icon.icon_menu{background-position: -257px -98.5px;}
i.icon.icon_area{background-position:-258.5px -19.5px;}
i.icon.icon_noticemanager{background-position:-297px -18px;}
i.icon.icon_right{background-position: -419px -41px;}
i.icon.icon_bottom{background-position: -419px -80px;}
i.icon.icon_top{background-position: -419px -278px;}
i.icon.icon_offSale{background-position: -419px -118px}
i.icon.icon_suyuan { background-position: -217.5px -460.5px; }
.active i.icon.icon_suyuan { background-position: -297px -459.5px; }
.active i.icon.icon_log { background-position:-339.5px -139px; }
.active i.icon.icon_template { background-position: -337.5px  -178px; }
.active i.icon.icon_yunyingdata{ background-position: -338px -218.5px; }
.active i.icon.icon_pcenter{ background-position: -335.5px -432px; }
.active i.icon.icon_diaodu{ background-position:-339.5px -259px; }
.active i.icon.icon_company { background-position:-340px -300px; }
.active i.icon.icon_role { background-position:-338.5px -58.5px; }
.active i.icon.icon_menu { background-position: -337px -98.5px; }
.active i.icon.icon_area{ background-position:-338.5px -19.5px; }
.active i.icon.icon_noticemanager { background-position:-378px -18px; }

.hover  i.icon.icon_offSale{background-position:-419px -237px;}
.hover i.icon.icon_bottom{background-position:-419px -199px}
.hover i.icon.icon_right{background-position:-419px -160px;}
.hover i.icon.icon_top{background-position: -418px -320px;}


 
.page-wrapper .leftmenu li:hover { background: #ddd; }
.page-wrapper .leftmenu li.active { background: #17a3d7; }

.page-wrapper .leftmenu li.active label,
.page-wrapper .leftmenu li.active span {
	color: #fff;
}

.active i.icon { background-position: -20px 1px; }
.active i.icon.icon_manage { background-position: -18px -60px; }
.active i.icon.icon_plan { background-position: -18px -120.5px; }
.active i.icon.icon_puhuo { background-position: -19px -180px; }
.active i.icon.icon_yunying { background-position: -19.5px -240px; }
.active i.icon.icon_data { background-position: -20px -300.5px; }
.active i.icon.icon_error { background-position: -19.5px -359.5px; }
.active i.icon.icon_message { background-position: -19.5px -437px; }
.active i.icon.icon_setting { background-position: -19px -500px; }


/*表单*/

.page-form {
	margin-top: 20px;
	color: #666;
}

.page-form .form {
	margin-top: 8px;
	background: #eee;
	border: 1px solid #ddd;
	padding: 20px;
	color: #666;
}

.inline-form>div,
.multiinline-form>section>div {
	display: inline-block;
	float: left;
	margin-right: 18px;
}

.multiinline-form>section>div {
	margin-right: 40px;
}

.form>form>div label {
	line-height: 28px;
}

.form>form>div input,
.form>form>section>div input {
	width: 105px;
	height: 28px;
	background: #fff;
	border: 1px solid #ddd;
}

.form>form>div textarea {
	border: 1px solid #ddd;
	padding-left: 5px;
}

.form>form>div input.Wdate,
.form>form>section>div input.Wdate {
	background: #fff url(../js/wdatePicker/skin/datePicker.gif) no-repeat right;
}

.form>form>div input,
.form>form>div select,
.form>form>section>div input {
	padding-left: 5px;
}

.inline-form>div input,
.inline-form>div select {
	vertical-align: top;
}

.form>form.block-form>div {
	margin-top: 13px;
}

.form>form.block-form>div>input {
	width: 243px;
}
input.radio{
	width:11px !important;height:11px !important;;
	vertical-align: -2px !important;;margin: 0 5px !important;;
}

.form>form.block-form>div>input.search-input-button {
	width: auto;
	border-radius: 3px;
	padding: 0px 11px;
	padding-bottom:2px;
}


/*select框*/
.overlay {
	width: 107px;
	height: li;
	vertical-align: top;
	margin-top: 0px;
	display: inline-block;
	position: relative;
}

.overlay .form-dropdown {
	width: 107px;
	height: 28px;
	line-height: 28px;
	position: absolute;
	top: 0px;
}

.overlay .form-dropdown {
	background: #fff;
	border: 1px solid #ddd;
}

.overlay .form-dropdown {
	width: 107px;
	height: 28px;
	line-height: 28px;
	text-align: left;
	position: relative;
	z-index: 100;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid #999;
	border-bottom: 4px solid transparent;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.overlay .form-dropdown .caret {
	position: absolute;
	top: 10.5px;
	right: 7px;
}

.overlay .form-dropdown span.value {
	display: inline-block;
	line-height: 24px;
	padding-left: 5px;
	vertical-align: top;
	width: 85%;
	overflow: hidden;
	text-align: left;
}

.dropdown.scrollHidden .slimScrollDiv {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.overlay .dropdown ul {
	width: 100%;
	cursor: pointer;
	position: absolute;
	top: 0px;
	z-index: 101;
	margin-bottom: 10px;
}

.dropdown.scrollHidden .slimScrollBar {
	display: block !important;
	z-index: 101 !important;
}

.dropdown .slimScrollBar {
	display: none !important;
}

.dropdown.scrollHidden .slimScrollDiv {
	display: block !important;
	z-index: 101 !important;background: #fff;
}

.dropdown .slimScrollDiv {
	display: none !important;
}

.overlay .dropdown ul li {
	padding: 5px;
	display: block;
	word-break: break-all;
	background: #fff;
	/*border-bottom: 1px solid #ddd;*/
}

.overlay .dropdown ul li:hover {
	background: #17a3d7;
	color: #fff;
}


/*按钮*/

.btn {
	padding: 0px 14px;
	height: 30px;
	line-height: 28px;
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 3px;
	color: #666;
	cursor: pointer;
	display: inline-block;
}

.btn i.icon.icon_group {
	background-position: -179px -352px;
}

.btn.blue {
	background: #17a3d7;
	color: #fff;
	border-color: #17a3d7;
}

.btn:hover {
	background: #eee;
	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
}

.btn.blue:hover {
	background: #1488b3;
	border-color: #1488b3;
}

.btn.disabled {
	color: #ccc;
}

.btn.disabled:hover {
	color: #ccc;
	background: none;
}

.btn.disabled i.icon.icon_group {
	background-position: -179px -393px;
}
input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}
.search-input-button {
	padding: 0 11px;
	height: 28px !important;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #ddd;
	margin-right: 19px;
	background: #fff;
	/*line-height: 24px !important;*/
}

input.search-input-button {
	/*padding-bottom: 2px !important;*/
}

span.search-input-button {
	line-height: 24px !important;
}

.search-input-button:hover {
	background: #eee;
	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
}

.search-span-button:hover {
	text-decoration: underline;
	cursor: pointer;
}


/*表格*/

.table {
	overflow: hidden;
	margin-bottom: 64px;
}

.table table {
	width: 100%;
	border: 1px solid #ddd;
	margin-top: 20px;
	margin-bottom: 10px;
}

.table table>thead {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	color: #666;
	font-weight: normal;
}

th {
	font-weight: normal;
	background-color: #eee;
}

.table table>tbody {
	color: #999;
}

.table table>tbody>tr {
	cursor: pointer;
}

.table table>tbody>tr:hover {
	background: #e7f6fb;
}


/*.table table>tbody>tr:hover img{border:2px solid #25a9da;}*/

.table table>tbody>tr:hover .pro_name {
	color: #25a9da;
	text-decoration: underline;
}

.table table>tbody>tr>td {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

.table table>tbody>tr>td img {
	width: 82px;
	height: 82px;
	border: 1px solid #ddd;
}

.table table>tbody>tr>td {
	text-align: center;
}

.table table>tbody>tr>td.colspan,
.table table>thead>tr>th.colspan {
	text-align: left;
}

.table table i.icon {
	height: 20px;
}



.table .tabletop {
	margin-top: 8px;
}


/*复选框*/
.checkbox>input[type=checkbox].label-input {
	opacity: 0;
	filter: alpha(opacity=0);
}

.checkbox>label.input-label {
	background: url(../images/iconlist.png) no-repeat;
	width: 11px;
	height: 20px;
	margin-right: 8px;
	margin-top: -3px;
	display: inline-block;
	vertical-align: middle;
	background-position: -180px -160px;
}
.checkbox.checked_checkbox>label.input-label {
	background-position: -220px -160px;
}

.checkbox.disabled>label.input-label,.checkbox.disabled.checked_checkbox>label.input-label{background:#f4f4f4; border:1px solid #cfcfcf;width:11px;height:11px;}

/*分页*/

.pagelist {
	color: #666;
	line-height: 28px;
	margin-top: 8px;
}

.pagelist a {
	color: #666;
	cursor: pointer;
}

.pagedesc {
	line-height: 28px;
}

.pagedesc>span {
	margin: 0 3px;
}

.pagination {
	margin: 0 18px;
	border: 1px solid #ddd;
}

.pagination span {
	border-left: 1px solid #ddd;
	height: 28px;
	display: inline-block;
	padding: 0px 7px;
	line-height: 28px;
}

.pagination>a {
	display: inline-block;
	border-left: 1px solid #ddd;
	padding: 0px 7px;
}

.pagination>a.jp-previous {
	border-left: none;
}

.pagination>a.jp-current:hover,
.pagination>a.jp-current {
	background: #eee !important;
	color: #666 !important;
	font-weight: normal;
}

.gotopage {
	width: 28px;
	height: 28px;
	border: 1px solid #ddd;
	margin: 0 5px;
	padding-left: 5px;
}

.pagelist .search-input-button {
	margin-left: 21px;
	margin-right: 0px;
}

.search-input-button.bgblue:hover {
	background: #1488b3 !important;
	border-color: #1488b3 !important;
}


/*详情列表中的样式*/

.infolist {
	color: #666;
	padding: 33px 40px;
}

.infolist .row {
	margin-top: 20px;
}

.halfwidth {
	width: 50%;
}


/*弹框样式叠加*/

.layui-layer-title {
	height: 39px !important;
	line-height: 39px !important;
	background: #14a2d7 !important;
	color: #fff !important;
	border-color: #14a2d7 !important;
}

.layui-layer-ico {
	background: url(../images/iconlist.png) no-repeat !important;
	background-position: -220px -201px !important;
	margin-top: -3.5px;
}

.layui-layer-tips .layui-layer-content {
	background: #17A3D7 !important;
	padding: 2px 10px !important;
}

.layui-layer-tips i.layui-layer-TipsT {
	border-top: 4px solid #17A3D7 !important;
	border-bottom: 4px solid transparent !important;
	border-left: 4px solid transparent !important;
	border-right: 4px solid transparent !important;
}

.confirmclass .layui-layer-btn{text-align: center !important;margin-top: -10px;}
.confirmclass  .layui-layer-btn a{line-height: 26px !important;padding: 0 11px;}
.confirmclass  .layui-layer-btn .layui-layer-btn1{margin-left:40px;background: #fff;color:#666;transition:all .3s ease-in;-webkit-transition: .3s ease-in;}
.confirmclass  .layui-layer-btn .layui-layer-btn0{transition:all .3s ease-in;-webkit-transition: .3s ease-in;background:#17A3D7 !important;border-color:#17A3D7 !important;color:#17A3D7 !important margin-right:20px;}
.confirmclass  .layui-layer-btn .layui-layer-btn0:hover{transition:all .3s ease-in;-webkit-transition: .3s ease-in;background:#1488b3 !important;border-color:#1488b3 !important;}
.confirmclass  .layui-layer-btn .layui-layer-btn1:hover{transition:all .3s ease-in;-webkit-transition: .3s ease-in;background:#eee;}

.confirmclass.layui-layer-dialog .layui-layer-content{text-align:center;height:103px !important;}
/*自定义的弹框样式（没有标题的提示框）*/

.notitleClass .layui-layer-setwin .layui-layer-close2{
	position: absolute;
	right: -24px;
	top: 1px;
	width: 30px;
	height: 30px;
	margin-left: 0;
	background-position: -220px -237px !important;
}

@media screen and(-ms-high-contrast:active),
(-ms-high-contrast:none) {
	input.search-input-button {
		padding-bottom: 0px !important;
	}
}
